services:
  backend:
    image: health_backend          # <-- explicitly name the image
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: health_backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/devops_db
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  frontend:
    image: health_frontend         # <-- explicitly name the image
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: health_frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongo-db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=auth_db
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
